version: '3'

services:
  postgresdb:
    image: postgres
    container_name: postgresdb
    ports:
      - "5432:5432"
    restart: "no"
    environment:
      POSTGRES_DB: "banco"
      POSTGRES_USER: "postegres"
      POSTGRES_PASSWORD: "123456789"    